<div *ngIf="teamSchedule">
  <nav class="navbar navbar-expand-lg navbar-light navbar-submenu">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Transfers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Awards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <table class="squad-table">
      <tr>
        <th style="width: 100px">
          Date
        </th>
        <th style="width: 80px">
          Time
        </th>
        <th>
          Oppisition
        </th>
        <th style="width: 100px;text-align: center">
          Venue
        </th>
        <th style="width: 150px;text-align: center">
          Result
        </th>
        <th>
          Competition
        </th>
      </tr>
      <tr *ngFor="let item of teamSchedule.items">
        <td>
          {{ item.date }}
        </td>
        <td>
          {{ item.time }}
        </td>
        <td>
          <a href="/teams/{{ item.opponent_slug }}">{{ item.opponent_name }}</a>
        </td>
        <td style="text-align: center">
          <span *ngIf="item.is_home">H</span>
          <span *ngIf="!item.is_home">A</span>
        </td>
        <td style="text-align: center">
          <a [routerLink]="['/match/' + teamSchedule.league_slug + '/' + item.result.match_id]">
            <div *ngIf="item.result">
              {{ item.result.score.home }} -  {{ item.result.score.away }}
            </div>
            <div *ngIf="!item.result">
              -
            </div>
          </a>
        </td>
        <td>
          <a href="/leagues/{{ item.competition_id }}">{{ item.competition_name }}</a>
        </td>
      </tr>
    </table>
    <div style="clear:both"></div>
  </div>
</div>
