<div *ngIf="teamSchedule">
    <div topHeader>
        <div class="header-block">
            <div class="club-logo club-default-logo header-player-logo"></div>
        </div>
        <div class="header-block">
            <div class="header-title-block">
                <div class="page-title">{{ teamSchedule.team_name }}</div>
                <div>
                    <a href="/leagues/{{ teamSchedule.league_slug }}" class="sub-title-link">
                        {{ teamSchedule.league_name }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="header_row" style="height: 55px;margin-left: 0">
        <div class="header_bottom">
            <ul class="nav navbar-left">
                <li><a href="/#">Players</a></li>
                <li><a href="/#">International</a></li>
                <li><a href="/#">Players on Loan</a></li>
                <li><a href="/#">Extended Leave</a></li>
                <li><a href="/#">Team Meeting</a></li>
            </ul>
            <ul class="nav navbar-right" style="margin-right: 0">
                <li class="item-user"><a href=""><i class="fas fa-user-friends"></i></a></li>
            </ul>
        </div>
    </div>
    <br/>
    <div class="content">
        <table class="squad-table">
            <tr>
                <th style="width: 100px">
                    Date
                </th>
                <th style="width: 80px">
                    Time
                </th>
                <th>
                    Oppisition
                </th>
                <th style="width: 100px;text-align: center">
                    Venue
                </th>
                <th style="width: 150px;text-align: center">
                    Result
                </th>
                <th>
                    Competition
                </th>           
            </tr>
            <tr *ngFor="let item of teamSchedule.items">
                <td>
                    {{ item.date }}
                </td>
                <td>
                    {{ item.time }}
                </td>
                <td>
                    <a href="/teams/{{ item.opponent_slug }}">{{ item.opponent_name }}</a>
                </td>
                <td style="text-align: center">
                    <span *ngIf="item.is_home">H</span>
                    <span *ngIf="!item.is_home">A</span>    
                </td>
                <td style="text-align: center">
                    <div *ngIf="item.result">
                        {{ item.result.home_goals }} -  {{ item.result.away_goals }}
                    </div>
                    <div *ngIf="!item.result">
                        -
                    </div>                   
                </td>
                <td>
                    <a href="/leagues/{{ item.competition_id }}">{{ item.competition_name }}</a>
                </td>           
            </tr>
        </table>
        <div style="clear:both"></div>
    </div>
</div>
