body{
  background: #2D3138;
  color:#fff;
}
a{
  color:#fff;
}
.main_container .col-md-3.left_col{
  width: 230px;
}
.main_container {
  min-width:1200px;
}
.main_container .header_row {
  display: block;
  margin-left: 230px;
  height: 79px;
  background: #FAFAFA;
  border-left: 2px solid #0f204c;
}

.main_container .header_top{
  height: 81px;
  border-bottom: 2px solid #F1F1F1;
}
.main_container .header_bottom{
  padding-right: 15px;
}
.header_row .navbar-left li{
  float: left;
}

.header_row .navbar-right li{
  float: right;
}
.header_top .nav-arrow a.active,
.header_top .nav-arrow a:hover{
  background: none;
  color:#CECECE;
}
.header_top .nav-arrow a{
  color: #CECECE;
  height: 80px;
  line-height: 60px;
  font-size: 38px;
}

.header_top .nav-arrow a:hover{
  color: #1F2122;
}

.header_top .nav-arrow{
  margin-right: 15px;
}

.header_top .nav-gerb{
  background: url(./assets/images/fapl.png) no-repeat center left;
  padding-left: 30px;
  margin-right: 15px;
  float: left;
}

.header_top .nav-gerb a{
  background: none;
  color:#fff;
}
.header_top .nav-gerb a:hover{
  background: none;
}

.header_bottom .navbar-left li a{
  height: 55px;
  line-height: 35px;
  color: #27292A;
  font-size: 17px;
}
.header_bottom .navbar-left li a:hover{
  background: none;
  border-bottom: 2px solid #fff;
}

#sidebar-menu .menu_section{
  border-bottom: 2px solid #2E383E;
}
#sidebar-menu .menu_section:last-child{
  border-bottom: none;
}

.left_col{
  background: #283238;
  color:#fff;
  padding-left: 0px;
  padding-right: 0px;

}
.left_col.col-md-3{
  height: 100%;
  position: fixed;
}

.right_col {
  margin-left: 230px;
  padding: 0;
}

.left_col .nav a{
  color: #fff;
  font-size: 19px;
  padding-left: 55px;
}
.left_col .nav a i{
  position: absolute;
  left: 20px;
  top: 14px;
}

.header_top .nav a.active,
.header_top .nav a:focus,
.header_top .nav a:hover{
  background: #2E383E;
}
.left_col .nav a.active,  
.left_col .nav a:focus,
.left_col .nav a:hover{
  background: #2D3138;
}

.header_top .nav.nav-gerb a.active,
.header_top .nav.nav-gerb a:focus,
.header_top .nav.nav-gerb a:hover,
.header_top .nav.nav-arrow a.active,
.header_top .nav.nav-arrow a:focus,
.header_top .nav.nav-arrow a:hover{
  background: none;
}

.header_top .link-search{
  font-size: 23px;
  height: 80px;
  line-height: 57px;
  color: #2D3138;
  background: #FAFAFA;
}

.header_top .btn-fm .dropdown-toggle{
  font-size: 19px;
  line-height: 66px !important;
}

.header_top .btn-globe a
{
  border-radius: 0;
}

.header_top .btn-globe .dropdown-toggle{
  font-size: 30px;
  color: #2D3138;
  background: #FAFAFA;
}

.header_top .item-fm{
  border-left: 2px solid #3a5db7;
  border-right: 2px solid #3a5db7;
}

.header_top .btn-drop .dropdown-toggle{
  height: 80px;
  line-height: 60px;
  font-weight: bold;

  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
}
.header_top .btn-drop .dropdown-toggle i.fa-angle-down{
  font-size: 20px;
}
.header_top .btn-drop.open .dropdown-toggle{
  background: #2e51ab;
  border-radius: 0px;
}
.header_top .btn-drop .dropdown-menu a:hover{
  background: #2E383E;
  color:#fff;
}
.header_top .btn-drop .dropdown-menu a{
  color:#fff;
}
.header_top .btn-drop .dropdown-menu{
  background: #2e51ab;
  color: #fff;
  margin-top: 0px;
  border-top: none;

}

.header-title-block .page-title{
  font-size: 22px;
  font-weight: bold;
}
.header-title-block {
  padding: 10px;
  float: left;
}

.header-title-block {
  color: #3E4041;
}

.header_top .navbar-right {
  background: #293239;
}

.header_top .navbar-right li {
  border-left: 1px solid #FBFBFB;
  border-bottom: 1px solid #FBFBFB;
}

.header_top .item-date .date-title{
  font-size: 17px;
  font-weight: bold;

}
.header_top .item-date{
  height: 81px;
  padding: 20px;
  text-align: center;
  color: #2D3138;
  background: #FAFAFA;
}
.header_top .item-msg{
  color: #d89a9b;
  height: 81px;

  padding: 20px;
  line-height: 40px;
  font-weight: bold;
}

.header_top .item-msg:hover {
  background: #2E383E;
}

.header_bottom .navbar-right{
  margin-right: 15px;
}
.header_bottom .navbar-right li a{
  height: 55px;
  line-height: 35px;
  color: #fff;
  font-size: 17px;
}
.header_bottom .navbar-right li a:hover,
.header_bottom .navbar-right li a:focus{
  background: #2E383E;
  color: #fff;
}
.header_bottom .navbar-right .item-quest a{
  color: #2E383E;
  font-size: 26px;
}
.header_bottom .navbar-right .item-user a{
  color: #2E383E;
  font-size: 24px;
}
.main_content{
  font-size: 16px;
}
.content_body table{
  width:100%;
}

table.main-table tr td:first-child{
  /*text-align: right;*/
  /*color:#2c6459;*/
  color:#3d7761;
}
table.main-table tr th{
  color:#81a299;
}
table.main-table .fa-adjust{
  color:#dfae52
}
table.main-table .fa-circle{
  color:#54ca90
}
table.main-table .fa-tv{
  color:#90afa9;
}
table.main-table tr td{
  height: 40px;
  vertical-align: center;
}
table.main-table.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #4a4a4a80;
}
.content-header .navbar-left{
  padding-left: 20px;
}
.content_body{
  padding-top: 25px;
}
.content-header .navbar-left>li:first-child{
  color: #4dc2cc;
  border-right: 2px solid #23544e;
  padding-right: 20px;
}
.content-header .navbar-left li{
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right:10px;
}
.content-header .navbar-right>li{
  float: left;
  height: 40px;
  line-height: 31px;
  margin-right: 20px;
}
.group-filter{
 
}
.group-filter .btn-group{

}
.group-filter .btn-group>a{
  height: 36px;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  background: url(./assets/images/bg-item-con.png);
}

.btn-group.btn-match.open>a,
.btn-group.btn-match.open>a:focus{
  background: #164138;
  color:#fff;
}

.group-filter .btn-group.open>a,
.group-filter .btn-group>a:hover,
.group-filter .btn-group>a:focus{
  background: #164138;
  color:#fff;
}
.group-filter .btn-group{
  float:left;
}
.group-filter .fa-angle-left,
.group-filter .fa-angle-right,
.group-filter .fa-angle-down{
  font-size: 18px;
}
.group-filter a.btn-filter-arrow:last-child{

  border-left: 1px solid #0a6055;
}
.group-filter a.btn-filter-arrow:first-child{
  border-radius: 0px;
  border-left: 1px solid #0a6055;
}

.btn-match a{
  font-size:15px;
  height: 40px;
}
.btn-group.btn-match .dropdown-menu>li>a,
.group-filter .dropdown-menu>li>a{
  color:#fff;
  height: 40px;
  line-height: 34px;
}
.btn-group.btn-match .dropdown-menu>li,
.group-filter .dropdown-menu>li{
  width:100%;
}
.btn-group.btn-match .dropdown-menu,
.group-filter .dropdown-menu{
  background: #164138;
  min-width: auto;
  margin: 0px;
}

.btn-group.btn-match.open>a,
.nav .group-filter .open>a,
.nav .group-filter .open>a:focus,
.nav .group-filter .open>a:hover{
  border: 1px solid #164138;
}

.nav .btn-match a, .nav .btn-match a:hover{
  color:#fff;
}

.content-header.row{
  padding-right: 50px;
}

.btn-group.btn-match .dropdown-menu>li>a:hover,
.group-filter .dropdown-menu>li>a:hover{
  background: #266753;
}