<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav">
      <li><a [routerLink]="['main']" routerLinkActive= "active"><i class="fa fa-home"></i>Home</a></li>
    </ul>
  </div>
  <div class="menu_section">
    <ul class="nav">
      <li><a [routerLink]="['inbox']" routerLinkActive= "active"><i class="fas fa-inbox"></i>Inbox</a></li>
    </ul>
  </div>
  <div class="menu_section">
    <ul class="nav">
      <li><a href="/#"><i class="fas fa-user-friends"></i>Squad</a></li>
      <li><a href="/#"><i class="far fa-calendar-alt"></i>Calendar</a></li>
        <!-- <li><a href="/#"><i class="fas fa-trophy"></i> Competitions</a></li>
        <li><a href="/#"><i class="fas fa-user-friends"></i> Under 23s</a></li>
        <li><a href="/#"><i class="fas fa-user-friends"></i> Under 18s</a></li> -->
    </ul>
  </div>
  <div class="menu_section">
    <ul class="nav">
      <!-- <li><a href="/#"><i class="fa fa-home"></i> Tactics</a></li>
      <li><a href="/#"><i class="fas fa-clipboard-list"></i>Отчеты</a></li> -->
      <!-- <li><a href="/#"><i class="fas fa-user-shield"></i> Персонал</a></li>
      <li><a href="/#"><i class="fab fa-ethereum"></i> Обучение</a></li> -->
    </ul>
  </div>
  <div class="menu_section">
    <ul class="nav">
      <li><a href="/#"><i class="fas fa-search"></i> Резерв</a></li>
      <!-- <li><a href="/#"><i class="fas fa-exchange-alt"></i> Transfers</a></li> -->
    </ul>
  </div>
  <!-- <div class="menu_section">
    <ul class="nav">
      <li><a href="/#"><i class="fas fa-map-marker"></i> Club</a></li>
      <li><a href="/#"><i class="fas fa-briefcase"></i> Board</a></li>
    </ul>
  </div> -->
</div>