<div class="player-content" *ngIf="player">
    <div class="row player-header">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-2">
                    <img src="/assets/images/players/default.png" class="player-photo" />
                </div>
                <div class="col-xs-1">
                    <img src="/assets/images/countries/ru.png" class="country-flag" />
                </div>
                <div class="col-xs-6 basic-info">
                    <p><span>29 years old</span> (10/3/2003)</p>
                    <p>Russian</p>
                    <p>90 caps / 2 goals</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3 delim">
            <div class="row">
                <div class="col-xs-1">
                    <div class="status-badge wanted">
                    </div>
                </div>
                <div class="col-xs-11 contract-info">
                    <p class="contracted">Contracted to Zenith Petersbourg</p>
                    <p>Valued at $1.8 to Zenith Petersbourg</p>
                    <p class="wage">$188K p/w until 10/3/2035</p>
                    <p class="status">Key player</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 delim">
            <div class="row">
                <div class="col-xs-3 coach_summary">
                    <p>Coach summary</p>
                    <div>
                        <rating rating="3"></rating>
                    </div>

                    <p style="clear:both">Quality player</p>
                </div>
                <div class="col-xs-2 current_ability">
                    <p>Current ability</p>
                    <rating rating="3"></rating>
                </div>
                <div class="col-xs-2 potential_ability">
                    <p>Potential ability</p>
                    <rating rating="3"></rating>
                </div>
            </div>
        </div>
    </div>
    <div class="row player-data">
        <div class="row">
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-1">
                        <div></div>
                    </div>

                    <div class="col-xs-1">
                        <p>Positions</p>
                        <br />
                        <img src="/assets/images/stubs/position.png" />
                    </div>

                    <div class="col-xs-2">
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <player-skills [skills]="player.skills"></player-skills>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-4 prefered">
                        <dl>
                            <dt>Prefered foot</dt>
                            <dd>Left</dd>
                        </dl>
                        <dl>
                            <dt>Personality</dt>
                            <dd>Fairly professional</dd>
                        </dl>
                        <dl>
                            <dt>Media Description</dt>
                            <dd>Full-back</dd>
                        </dl>
                        <dl>
                            <dt>Goalkeeping rating</dt>
                            <dd>3</dd>
                        </dl>
                        <dl>
                            <dt>Player traits</dt>
                            <dd>None</dd>
                        </dl>
                    </div>
                    <div class="col-xs-7 biography">
                        <p>Biography</p>
                        <p>
                            Ivan Ivanov is a name mainly known to thoose with a strong interest in English football.
                            Having made his Russia debug against Denmark in October 2021, he has gone on to make 90
                            appeearanes and score 2 goals for his country,
                            Ivanov, 29 arrived at Pricess Park from CSKA Moscow for a fee of $15M in 2017
                        </p>
                        <br />
                        <p>
                            Ivan Ivanov started his career at CSKA Moscow in September 2016, breaking into the
                            first-team in 2020 and making a total of 108 league appearances and scoring 5 goals for the
                            club.
                            During this time he also spent tome on loan at empoli and Valencia, making a combined total
                            of 38 league appearances. Ivanov joined current club Dartford for $13M in
                            January 2019 and has currently make 118 league appearances and scored one goal for the club.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row player-widgets">
        <div class="row">
            <div class="col-xs-3 delim fitness">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="/assets/images/stubs/fitness.png" />
                    </div>
                    <div class="col-xs-10">
                        <label>Fitness ></label>
                        <p>Tiered after his last match</p>
                        <p style="color: #D6C679">83% Overal Physical Condition</p>
                        <p>100% Match Sharpness</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 delim">
                <div class="row">
                    <div class="col-xs-2 no-padding">
                        <img src="/assets/images/stubs/happiness.png" />
                    </div>
                    <div class="col-xs-10 no-padding">
                        <label>Hapiness ></label>
                        <p style="color: #65B969;font-size: 15px">Good</p>
                        <p><span style="color: #30A86D">3 Positives</span> / <span style="color: #EA434D">2
                                negatives</span></p>
                        <p style="font-size: 13px">Looking forward to becoming involved in the first team within the
                            next few months</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 delim">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="/assets/images/stubs/default.png" />
                    </div>
                    <div class="col-xs-10  no-padding">
                        <label>Plans ></label>
                        <p>1 short term plan</p>
                        <p>No long term plans</p>
                        <p>Want to win a thophy and is excited at the team's chance in the Champion League</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 delim">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="/assets/images/stubs/default.png" />
                    </div>
                    <div class="col-xs-10 no-padding">
                        <label>Bans ></label> <br />
                        <img src="/assets/images/stubs/bans.png" style="width: 200px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 delim">
                <label>Career stats ></label>
            </div>
            <div class="col-xs-3 delim">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="/assets/images/stubs/contract.png" />
                    </div>
                    <div class="col-xs-10 no-padding">
                        <label>Contract ></label>
                        <p style="font-size: 15px">$115 p/w</p>
                        <p style="color: #848686;font-size: 11px">4 Bonuses / 1 Clause</p>
                        <p style="color: #848686;font-size: 11px">Expired in 2 years, 5 months</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 delim">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="/assets/images/stubs/transfer.png" />
                    </div>
                    <div class="col-xs-10  no-padding">
                        <label>Transfer status ></label>
                        <p style="font-size: 15px">Transfer status not set</p>
                        <p style="color: #848686;font-size: 11px">Unavailable for loan</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 delim">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="/assets/images/stubs/achivement.png" />
                    </div>
                    <div class="col-xs-10  no-padding">                       
                        <p><span style="font-size: 12px">2023</span>&nbsp;&nbsp;&nbsp;<span style="color: #0D9C11;font-size: 12px">First international goal vs Moldova</span></p>
                        <p><span style="font-size: 12px">2021</span>&nbsp;&nbsp;&nbsp;<span style="color: #0D9C11;font-size: 12px">International debut vs Denmark</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

