table.squad-table {
  width: 100%;

  font-size: 14px;
}

table.squad-table td,
th {
  padding-top: 13px;
  padding-bottom: 5px;
}

table.squad-table th {
  color: #868A8A;
  font-size: 12px;
  text-transform: uppercase;
}

a {
  color: #fff;
}
