<div *ngIf="league">
  <nav class="navbar navbar-expand-lg navbar-light navbar-submenu">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Transfers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Awards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col col-4">
        <p class="header">Stages ></p>
        <div>
          <table class="league-table">
            <tr>
              <th style="width: 50px">
                Pos
              </th>
              <th style="width: 60%; min-width: 180px;">
                Team
              </th>
              <th style="width: 50px;text-align: center;">
                P
              </th>
              <th style="width: 50px;text-align: center;">
                W
              </th>
              <th style="width: 50px;text-align: center;">
                D
              </th>
              <th style="width: 50px;text-align: center;">
                L
              </th>
              <th style="width: 50px;text-align: center;">
                GD
              </th>
              <th style="width: 50px;text-align: center;">
                PTS
              </th>
            </tr>
            <tr *ngFor="let row of league.table.rows; let i = index">
              <td class="idx">
                {{i + 1}}st
              </td>
              <td>
                <a [routerLink]="['/teams/' + row.team_slug]">
                  {{ row.team_name }}
                </a>
              </td>
              <td style="text-align: center;">
                {{ row.played }}
              </td>
              <td style="text-align: center;">
                {{ row.win }}
              </td>
              <td style="text-align: center;">
                {{ row.draft }}
              </td>
              <td style="text-align: center;">
                {{ row.lost }}
              </td>
              <td style="text-align: center;">
                {{ row.goal_scored - row.goal_concerned }}
              </td>
              <td style="text-align: center;">
                {{ row.points }}
              </td>
            </tr>
          </table>
        </div>

      </div>
      <div class="col col-8">
        <div class="container-fluid">
          <div class="row h-75">
            <div class="col">
              <p class="header">Fixtures/results ></p>

              <table class="week-results" *ngFor="let tour_schedule of league.current_tour_schedule">
                <tr>
                  <td colspan="3">
                    {{ tour_schedule.date }}
                  </td>
                </tr>

                <tr *ngFor="let item of tour_schedule.matches">
                  <td class="home-team">
                    <a [routerLink]="['/teams/' + item.home_team_slug]">
                      {{ item.home_team_name }}
                    </a>
                  </td>
                  <td class="score">
                    <a [routerLink]="['/match/' + league.slug + '/' + item.match_id]">

                                        <span *ngIf="item.result">

                                            {{ item.result.score.home }}
                                          -
                                          {{ item.result.score.away }}

                                        </span>

                      <span *ngIf="!item.result">-</span>
                    </a>
                  </td>
                  <td class="away-team">
                    <a [routerLink]="['/teams/' + item.away_team_slug]">
                      {{ item.away_team_name }}
                    </a>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col">
              <p class="header">Competition Reputation ></p>

              <ol class="list-group list-group-numbered league-competitions">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Spanish Premier Division</div>
                    <div class="container">
                      <div class="row">
                        <div class="col col-2 p-0 flag-col">
                          <div class="flag flag-es"></div>
                        </div>
                        <div class="col country-col">Spain</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">German First Division</div>
                    <div class="container">
                      <div class="row">
                        <div class="col col-2 p-0 flag-col">
                          <div class="flag flag-de"></div>
                        </div>
                        <div class="col country-col">Germany</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">English Premiere Division</div>
                    <div class="container">
                      <div class="row">
                        <div class="col col-2 p-0 flag-col">
                          <div class="flag flag-gb"></div>
                        </div>
                        <div class="col country-col">England</div>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-11">
              <p class="header">Player stats ></p>
              <table class="statistics-table w-100">
                <tr>
                  <td>
                    <p class="header rating">Goals</p>
                    <table style="width: 100%">
                      <tr>
                        <td style="width: 20px">
                          1st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Ezequiel Ponce
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 25px">
                          14
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 15px">
                          2st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Jordan Larsson
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 25px">
                          10
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <p class="header rating">Average rating</p>
                    <table style="width: 100%">
                      <tr>
                        <td style="width: 20px">
                          1st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Guus Til
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 15px">
                          7.33
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 15px">
                          2st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          André Schürrle
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 15px">
                          7.01
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <p class="header rating">Assists</p>
                    <table style="width: 100%">
                      <tr>
                        <td style="width: 20px">
                          1st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Alex Kral
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 15px">
                          14
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 15px">
                          2st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Nail Umyarov
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 15px">
                          10
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="header rating">Player of the match</p>
                    <table style="width: 100%">
                      <tr>
                        <td style="width: 20px">
                          1st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Alex Kral
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 15px">
                          7
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 15px">
                          2st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Georgiy Dzhikiya
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 15px">
                          5
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <p class="header rating">Clean sheets</p>
                    <table style="width: 100%">
                      <tr>
                        <td style="width: 20px">
                          1st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Aleksandr Maksimenko
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 15px">
                          5
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 15px">
                          2st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Aleksandr Selikhov
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 15px">
                          3
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <p class="header rating">Ywllow cards</p>
                    <table style="width: 100%">
                      <tr>
                        <td style="width: 20px">
                          1st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Reziuan Mirzov
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 15px">
                          8
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 15px">
                          2st
                        </td>
                        <td style="width: 30px">
                          <div class="club-logo club-default-logo"></div>
                        </td>
                        <td>
                          Alex Kral
                          <p class="club-name">Spartak moscow</p>
                        </td>
                        <td style="width: 15px">
                          4
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
