<div>
  <div class="content match-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          1
        </div>
        <div class="col">
          <div class="container-fluid">
            <div class="row">
              <div class="range">
                <input type="range" class="form-range" min="0" max="3600" value="300"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div id="match-container">
                  <play-match [leagueSlug]="leagueSlug" [matchId]="matchId"></play-match>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
         2
        </div>
      </div>
    </div>
  </div>
</div>
