.content {
  padding: 0px 0px
}

.header_row {
  height: 55px;
  margin-left: 0
}

.delim {
  border-left: 2px solid #2E3238;
  height: 100%;
}

.player-header {
  background-color: #262A30;
  height: 110px;
  clear: both;
}

.player-photo {
  width: 100px;
  height: 100px;
}

.basic-info {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 13px;
  color: #787B7A;
}

.basic-info span {
  color: #fff;
}

.status-badge {
  margin-top: -6px;
  position: relative;
  width: 37px;
  height: 27px;
  font-size: 12px;
}

.player-content p {
  margin: 0;
}

.player-content .delim {
  border-left: 2px solid #2E3238;
  height: 100%;
}

.player-content .player-header {
  background-color: #262A30;
  height: auto;
}

.player-content .player-photo {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.player-content .flag {
  margin-top: 13px;
  margin-left: 22px;
  width: 26px;
  height: 18px;
}

.player-content .basic-info {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 13px;
  color: #787B7A;
}

.player-content .basic-info span {
  color: #fff;
}

.player-content .status-badge {
  margin-top: 10px;
  position: relative;
  width: 37px;
  height: 27px;
  font-size: 12px;
}

.player-content .status-badge.injured::before {
  position: absolute;
  background-color: #A71214;
  color: #fff;
  content: "Inj";
  border-radius: 24px;
  width: 33px;
  height: 32px;
  padding-top: 9px;
  text-align: center;
}

.player-content .status-badge.wanted::before {
  position: absolute;
  background-color: #65BB7F;
  color: #18532A;
  content: "Wnt";
  border-radius: 24px;
  width: 33px;
  height: 32px;
  padding-top: 9px;
  text-align: center;
}

.player-content .coach_summary p {
  margin-top: 18px;
  font-size: 13px;
  color: #787B7A;
}

.player-content .current_ability p {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 10px;
  color: #787B7A;
}

.player-content .potential_ability p {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 10px;
  color: #787B7A;
}

.player-content .contract-info {
  margin-top: 10px;
}

.player-content .contract-info p.contracted {
  font-size: 13px;
  color: #787B7A;
}

.player-content .contract-info p.wage {
  font-size: 12px;
}

.player-content .contract-info p.status {
  font-size: 12px;
  color: #787B7A;
}

.player-content .player-data {
  background-color: #31373E;
  //height: 450px;

  padding-top: 10px;
  padding-bottom: 20px;

  color: #E5E6E7;
}

.player-content .player-data .prefered dt {
  text-transform: uppercase;
  font-size: 12px;
}

.player-content .player-data .prefered dd {
  border-bottom: 2px solid #3C4248;
  font-size: 13px;
}

.player-content .player-data .biography {
  font-size: 14px;
}

.player-content table.skills td:nth-child(even) {
  color: #688B5C;
  width: 40px;
}

.player-content table.skills td:nth-child(odd) {
  width: 150px;
}

.player-content .player-widgets .delim {
  border: 1px solid #31383F;
  padding: 30px 0 0 25px;
  height: 165px;
}

.player-content .player-data div.row {
  margin-left: 0 !important;
}

.player-content .no-padding {
  padding-left: 0;
}

.player-content .player-data label {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 11px;
}

img.default {
  width: 35px;
  background: url('/assets/images/player/pole.png')
}

 table.skills {
   max-width: 500px;
 }

table.skills  td {
  padding-right: 10px;
}

 table.skills td:nth-child(even) {
   color: #688B5C;
   font-weight: bold;
   width: 50px;
   text-align: center;
   ;
 }

 table.skills td:nth-child(odd) {
   width: 140px;
 }

 .td_1 {
   color: #666B70 !important;
 }

 .td_2 {
   color: #666B70 !important;
 }

 .td_3 {
   color: #666B70 !important;
 }

 .td_4 {
   color: #666B70 !important;
 }

 .td_5 {
   color: #666B70 !important;
 }

 .td_6 {
   color: #BDBEC1 !important;
 }

 .td_7 {
   color: #BDBEC1 !important;
 }

 .td_8 {
   color: #BDBEC1 !important;
 }

 .td_9 {
   color: #BDBEC1 !important;
 }

 .td_10 {
   color: #BDBEC1 !important;
 }

 .td_11 {
   color: #98D177 !important;
 }

 .td_12 {
   color: #93CC76 !important;
 }

 .td_13 {
   color: #93CC76 !important;
 }

 .td_14 {
   color: #93CC76 !important;
 }

 .td_15 {
   color: #93CC76 !important;
 }

 .td_16 {
   color: #76C14B !important;
 }

 .td_17 {
   color: #6AAC4C !important;
 }

 .td_18 {
   color: #7AC64B !important;
 }

 .td_19 {
   color: #69A94D !important;
 }

 .td_20 {
   color: #69A94D !important;
 }

 p {
   margin: 0;
 }



 .status-badge.injured::before {
   position: absolute;
   background-color: #A71214;
   color: #fff;
   content: "Inj";
   border-radius: 24px;
   width: 33px;
   height: 32px;
   padding-top: 9px;
   text-align: center;
 }

 .status-badge.wanted::before {
   position: absolute;
   background-color: #65BB7F;
   color: #18532A;
   content: "Wnt";
   border-radius: 24px;
   width: 33px;
   height: 32px;
   padding-top: 9px;
   text-align: center;
 }

 table.player-statistics {
    width: 100%;
    margin-top: 20px;
 }

 table.player-statistics td {
   font-size: 14px;
   opacity: 0.6;
 }

 .position-img {

 }
