<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Football</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/styles.css">

    <base href="/">
</head>

<body>
<div class="main_container">
    <div>
        <div class="content">
            <div class="col-md-3 left_col">
                {% block leftmenu %}{% endblock %}               
            </div>
            <div class="header_row">
                <div class="header_top">
                    <div class="col-md-6">
                        <ul class="nav navbar-left nav-arrow">
                            <li><a href="/#" class="active"><i class="fas fa-angle-left"></i></a></li>
                            <li><a href="/#"><i class="fas fa-angle-right"></i></a></li>
                        </ul>
                        <ul class="nav nav-gerb" style="margin-right: 0;padding-left: 10px;">
                            <li><a href="/#"><i class="fas"></i></a></li>
                            <li><a href="/#"><i class="fas"></i></a></li>
                        </ul>
                        <div class="header-title-block">
                            {% block header %}{% endblock %}         
                        </div>
                    </div>

                    <div class="col-md-6">
                        <ul class="nav navbar-right">
                            <li class="item-msg" style="cursor: pointer;" >
                                {% block processblock %}{% endblock %}          
                            </li>
                            <li class="item-date">
                                <div class="date-title">5 Oct 2018</div>
                                <div class="date-body">Fri 12:15</div>
                            </li>
                            <li>
                                <div class="btn-group btn-drop btn-globe">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="/#" aria-expanded="false">
                                        <i class="fas fa-globe-americas"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/#">Item 1</a></li>
                                        <li><a href="/#">Item 2</a></li>
                                        <li><a href="/#">Item 3</a></li>
                                        <li><a href="/#">Item 4</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="/#" class="link-search"><i class="fas fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr style="margin:0;padding:0" />
            <div class="right_col">
                <div class="main_content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>   
</div>

<script>
    function processGame(){
        let form = document.createElement("form");
        
        form.setAttribute('method',"POST");
        form.setAttribute('hidden',"true");
        form.setAttribute('name',"processForm");
        form.setAttribute('action', '/game/process');

        document.getElementsByTagName('body')[0].appendChild(form);

        form.submit();
    }

    function createGame(){
        let form = document.createElement("form");
        
        form.setAttribute('method',"POST");
        form.setAttribute('hidden',"true");
        form.setAttribute('name',"processForm");
        form.setAttribute('action', '/game/create');

        document.getElementsByTagName('body')[0].appendChild(form);

        form.submit();
    }
</script>

</body>

</html>
