<table class="skills">
    <tr>
        <th>
            Technical
        </th>
        <th>                            
        </th>
        <th>
            Mental
        </th>
        <th>                            
        </th>
        <th>
            Physical
        </th>
        <th>                            
        </th>
    </tr>
    <tr>
        <td>    
            Corners
        </td>
        <td ngClass='{{"td_" + skills.technical.corners.toString() }}'>
            {{ skills.technical.corners }}
        </td>
        <td>
            Aggression
        </td>
        <td ngClass='{{"td_" + skills.mental.aggression.toString() }}'>
            {{ skills.mental.aggression }}
        </td>
        <td>
            Acceleration
        </td>
        <td ngClass='{{"td_" + skills.physical.acceleration.toString() }}'>
            {{ skills.physical.acceleration }}
        </td>
    </tr>
    <tr>
        <td>    
            Crossing
        </td>
        <td ngClass='{{"td_" + skills.technical.crossing.toString() }}'>
            {{ skills.technical.crossing }}
        </td>
        <td>
            Anticipation
        </td>
        <td ngClass='{{"td_" + skills.mental.anticipation.toString() }}'>
            {{ skills.mental.anticipation }}
        </td>
        <td>
            Agility
        </td>
        <td ngClass='{{"td_" + skills.physical.agility.toString() }}'>
            {{ skills.physical.agility }}
        </td>
    </tr>
    <tr>
        <td>    
            Finishing
        </td>
        <td ngClass='{{"td_" + skills.technical.finishing.toString() }}'>
            {{ skills.technical.finishing }}
        </td>
        <td>
            Composure
        </td>
        <td ngClass='{{"td_" + skills.mental.composure.toString() }}'>
            {{ skills.mental.composure }}
        </td>
        <td>
            Jumping reach
        </td>
        <td ngClass='{{"td_" + skills.physical.jumping_reach.toString() }}'>
            {{ skills.physical.jumping_reach }}
        </td>
    </tr>
    <tr>
        <td>    
            First touch
        </td>
        <td ngClass='{{"td_" + skills.technical.first_touch.toString() }}'>
            {{ skills.technical.first_touch }}
        </td>
        <td>
            Concentration
        </td>
        <td ngClass='{{"td_" + skills.mental.concentration.toString() }}'>
            {{ skills.mental.concentration }}
        </td>
        <td>
            Natural fitness
        </td>
        <td ngClass='{{"td_" + skills.physical.natural_fitness.toString() }}'>
            {{ skills.physical.natural_fitness }}
        </td>
    </tr>
    <tr>
        <td>    
            Free kick tackling
        </td>
        <td ngClass='{{"td_" + skills.technical.free_kick_taking.toString() }}'>
            {{ skills.technical.free_kick_taking }}
        </td>
        <td>
            Decisions
        </td>
        <td ngClass='{{"td_" + skills.mental.decisions.toString() }}'>
            {{ skills.mental.decisions }}
        </td>
        <td>
            Pace
        </td>
        <td ngClass='{{"td_" + skills.physical.pace.toString() }}'>
            {{ skills.physical.pace }}
        </td>
    </tr>
    <tr>
        <td>    
            Heading
        </td>
        <td ngClass='{{"td_" + skills.technical.heading.toString() }}'>
            {{ skills.technical.heading }}
        </td>
        <td>
            Determination
        </td>
        <td ngClass='{{"td_" + skills.mental.determination.toString() }}'>
            {{ skills.mental.determination }}
        </td>
        <td>
            Stamina
        </td>
        <td ngClass='{{"td_" + skills.physical.stamina.toString() }}'>
            {{ skills.physical.stamina }}
        </td>
    </tr>
    <tr>
        <td>    
            Long shots
        </td>
        <td ngClass='{{"td_" + skills.technical.long_shots.toString() }}'>
            {{ skills.technical.long_shots }}
        </td>
        <td>
            Flair
        </td>
        <td ngClass='{{"td_" + skills.mental.flair.toString() }}'>
            {{ skills.mental.flair }}
        </td>
        <td>
            Strenght
        </td>
        <td ngClass='{{"td_" + skills.physical.strength.toString() }}'>
            {{ skills.physical.strength }}
        </td>
    </tr>
    <tr>
        <td>    
            Long throws
        </td>
        <td ngClass='{{"td_" + skills.technical.long_throws.toString() }}'>
            {{ skills.technical.long_throws }}
        </td>
        <td>
            Leadership
        </td>
        <td ngClass='{{"td_" + skills.mental.leadership.toString() }}'>
            {{ skills.mental.leadership }}
        </td>
        <td>
            Height
        </td>
        <td>
            5'7
        </td>
    </tr>

    <tr>
        <td>    
            Marking
        </td>
        <td ngClass='{{"td_" + skills.technical.marking.toString() }}'>
            {{ skills.technical.marking }}
        </td>
        <td>
            Off the ball
        </td>
        <td ngClass='{{"td_" + skills.mental.off_the_ball.toString() }}'>
            {{ skills.mental.off_the_ball }}
        </td>
        <td>
            Weight
        </td>
        <td>
            5'7
        </td>
    </tr>




    <tr>
        <td>    
            Passing
        </td>
        <td ngClass='{{"td_" + skills.technical.passing.toString() }}'>
            {{ skills.technical.passing }}
        </td>
        <td>
            Positioning
        </td>
        <td ngClass='{{"td_" + skills.mental.positioning.toString() }}'>
            {{ skills.mental.positioning }}
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>    
            Penalty taking
        </td>
        <td ngClass='{{"td_" + skills.technical.penalty_taking.toString() }}'>
            {{ skills.technical.penalty_taking }}
        </td>
        <td>
            Teamwork
        </td>
        <td ngClass='{{"td_" + skills.mental.teamwork.toString() }}'>
            {{ skills.mental.teamwork }}
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>

    <tr>
        <td>    
            Tackling
        </td>
        <td ngClass='{{"td_" + skills.technical.tackling.toString() }}'>
            {{ skills.technical.tackling }}
        </td>
        <td>
            Vision
        </td>
        <td ngClass='{{"td_" + skills.mental.vision.toString() }}'>
            {{ skills.mental.vision }}
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>    
            Technique
        </td>
        <td ngClass='{{"td_" + skills.technical.technique.toString() }}'>
            {{ skills.technical.technique }}
        </td>
        <td>
            Workrate
        </td>
        <td ngClass='{{"td_" + skills.mental.work_rate.toString() }}'>
            {{ skills.mental.work_rate }}
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
</table>