.content {
  padding: 0px 0px
}

.header_row {
  height: 55px;
  margin-left: 0
}

table.league-table {
  width: auto;
}

table.league-table td,
th {
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 20px;
}

table.league-table td.idx {
  font-size: 12px;
  color: #bfbfbf;
}

table.league-table th {
  color: #868A8A;
  font-size: 12px;
  text-transform: uppercase;
}

table.league-table tr:nth-child(2) {
  background-color: #25412B;
}

table.league-table tr:nth-child(3) {
  background-color: #24413B;
}

table.league-table tr:nth-child(4) {
  background-color: #233E39;
}

table.league-table tr:nth-child(5) {
  background-color: #24413B;
}

table.league-table tr:nth-child(6) {
  background-color: #263942;
}

table.league-table tr:nth-child(7) {
  background-color: #283B45;
}

table.league-table tr:nth-last-child(1) {
  background-color: #47272D;
}

table.league-table tr:nth-last-child(2) {
  background-color: #44252B;
}

table.league-table tr:nth-last-child(3) {
  background-color: #4D393E;
}


table.week-results {
  margin-bottom: 1em;
}

table.week-results td {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  border-bottom: 2px solid #323A41;
}

.week-results .home-team {
  text-align: right;
  padding-left: 10px;
}

td.score {
  font-size: 21px;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

.week-results .away-team {
  text-align: left;
  padding-right: 10px;
}

.league-competitions .list-group-item {
  color: #fff;
  --bs-list-group-bg: transparent;
  border: none;
}

.flag-col {
  margin-top: 8px;
}

.country-col {
  margin-top: 5px;
  text-align: left;
}

a {
  color: #fff;
}

 table.statistics-table td {
   padding: 5px;
 }

 table.statistics-table p.club-name {
   font-size: 12px;
   color: #868A8A;
 }

