#process-game-btn {
  text-transform: uppercase;
  text-align: center;
}

.spinner-wrapper {
  margin-top: 5px;
  padding-top: 20px;
}

.item-msg {
  cursor: pointer;
  width: 130px;
  background-color: #283238;
}

.header_top .navbar-right {
  background: #293239
}

.header_top .navbar-right li {
  border-left: 0px solid #fbfbfb;
  border-bottom: 0 solid #fbfbfb;
  float:right;
}

.header_top .item-date .date-title {
  font-size: 17px;
  font-weight: 700
}

.header_top .item-date {
  height: 81px;
  padding: 20px;
  text-align: center;
  color: #2d3138;
}

.header_top .item-msg {
  color: #d89a9b;
  height: 81px;
  padding: 20px;
  line-height: 40px;
  font-weight: 700
}

.header_top .item-msg:hover {
  background: #2e383e
}
