<div class="container-fluid">
    <div class="row">
        <div class="range">
            <input type="range" class="form-range" min="0" [max]="matchTimeMs"
                   [value]="currentTime"/>
            {{ currentTime / 1000 }}
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <div id="match-container" *ngIf="lineupLoaded">
                <div #matchContainer class="match-container"></div>
            </div>
        </div>
    </div>
</div>

