<div class="country-list-content">
    <div>
        <div class="country-box" *ngFor="let country of countries$ | async">
            <h2>{{country.name}} ({{country.countries.length}})</h2>
            <hr />
            <div>
                <ul class="countries-list">
                    <li *ngFor="let countryItem of country.countries">
                        <a [routerLink]="['/countries/' + countryItem.slug]">
                            <div class="flag flag-{{countryItem.code}}"></div>&nbsp;&nbsp; {{ countryItem.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
