<div topHeader>
    <div class="col-md-6" style="padding-left: 40px">
        <div style="float:left;">
            <div class="flag flag-ru" style="margin-top: 14px;">
            </div>
        </div>
        <div style="float:left;">
            <div class="header-title-block">
                <div class="page-title">Russia</div>
                <div>
                    <a href="/countries" class="sub-title-link">
                        Europe
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="country-box" *ngFor="let country of countries$ | async">
        <h2>{{country.name}} ({{country.countries.length}})</h2>
        <hr />
        <div>
            <ul class="countries-list">
                <li *ngFor="let countryItem of country.countries">
                    <a href="/countries/{{ countryItem.slug }}">
                        <div class="flag flag-{{countryItem.code}}"></div>&nbsp;&nbsp; {{ countryItem.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>
</div>