<div class="content">
    <div *ngIf="country">
        <div topHeader>
            <div class="header-block">
                <div class="flag flag-{{country.code}}">
                </div>
            </div>
            <div class="header-block">
                <div class="header-title-block">
                    <div class="page-title">{{country.name}}</div>
                    <div>
                        <a [routerLink]="['/countries/']" class="sub-title-link">
                            {{ country.continent_name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
        <div>
            <ul class="countries-list">
                <li *ngFor="let league of country.leagues">
                    <a [routerLink]="['/leagues/' + league.slug]">
                        {{ league.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

