﻿{% extends "../../layout.html" %}


{% block header %}
<div style="float:left;">
    <div class="club-logo club-default-logo" style="margin-top: 9px;padding: 27px;"></div>
</div>
<div style="float:left;">
    <div class="header-title-block">
        <div class="page-title">{{ name }}</div>
        <div>
            <a href="/leagues/{{ league_id }}" class="sub-title-link">
                {{ league_name }}
            </a>
        </div>
    </div>
</div>

{% endblock %}


{% block processblock %}

<div style="text-transform: uppercase;text-align: center;" id="create-game-btn" onclick="onClick()">Process</div>
<div style="margin-top:5px;width:100px;padding-top: 20px;">
    <div class="spinner" id="create-game-btn-spinner" style="display: none;"></div>
</div>
{% endblock %}

{% block leftmenu %}
<div class="left_col scroll-view">
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav">
                <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
                <li><a><i class="fas fa-inbox"></i>Inbox</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
                {% for team in neighbor_teams %}
                <li><a href="/teams/{{ team.id }}"><i class="fas fa-user-friends"></i>{{ team.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
                <li><a href="/teams/{{ id }}/schedule"><i class="fas fa-user-friends"></i>Schedule</a></li>
                <li><a href="/#"><i class="far fa-calendar-alt"></i>Calendar</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
                <li><a href="/#"><i class="fas fa-search"></i> Резерв</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="header_row" style="height: 55px;margin-left: 0">
    <div class="header_bottom">
        <ul class="nav navbar-left">
            <li><a href="/#">Players</a></li>
            <li><a href="/#">International</a></li>
            <li><a href="/#">Players on Loan</a></li>
            <li><a href="/#">Extended Leave</a></li>
            <li><a href="/#">Team Meeting</a></li>
        </ul>
        <ul class="nav navbar-right" style="margin-right: 0">
            <li class="item-user"><a href=""><i class="fas fa-user-friends"></i></a></li>
        </ul>
    </div>
</div>
<br/>
<div class="content">
    <table class="squad-table">
        <tr>
            <th style="width: 50px">
                Inf
            </th>
            <th>
                Name
            </th>
            <th>
                Position
            </th>
            <th>
                Nat
            </th>
            <th>
                Ability
            </th>
            <th>
                Potential
            </th>
            <th>
                Morale
            </th>
            <th>
                Conditions
            </th>
            <th>
                Played
            </th>
            <th>
                Value
            </th>
        </tr>
        {% for player in players %}
        <tr>
            <td style="width: 50px">
                <div class="status-badge wanted">
                </div>
            </td>
            <td>
                <a href="/teams/{{ id }}/players/{{ player.id }}">
                    {{ player.last_name }}&nbsp;{{ player.first_name }}
                </a>
            </td>
            <td style="width: 80px">
                {{ player.position }}
            </td>
            <td style="width: 50px">
                <a href="/countries/{{ player.country_id }}" class="sub-title-link">
                    <div class="flag flag-{{player.country_code}}" title="{{ player.country_name }}"></div>
                </a>
            </td>
            <td style="width: 150px">
                <fieldset class="rating">
                    {% for _ in 0..(5 - player.current_ability) %}
                        <label></label>
                    {% endfor %}
                    {% for _ in 0..player.current_ability %}
                        <label class="checked"></label>
                    {% endfor %}
                </fieldset>
            </td>
            <td style="width: 150px">
                <fieldset class="rating">
                    {% for _ in 0..(5 - player.potential_ability) %}
                        <label></label>
                    {% endfor %}
                    {% for _ in 0..player.potential_ability %}
                        <label class="checked"></label>
                    {% endfor %}
                </fieldset>
            </td>
            <td style="width: 150px">
                Good
            </td>
            <td style="width: 100px;text-align: center">
                {{player.conditions}}%
            </td>

            <td style="width: 70px">
                25
            </td>
            <td style="width: 170px">
                100 000
            </td>
        </tr>
        {% endfor %}
    </table>
    <div style="clear:both"></div>
</div>
{% endblock %}
