<div *ngIf="team">
  <nav class="navbar navbar-expand-lg navbar-light navbar-submenu">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link">Players</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">International</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Players on Loan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Extended Leave</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Team Meeting</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<!--    <div class="header_row" style="height: 55px;margin-left: 0">-->
<!--        <div class="header_bottom">-->
<!--            <ul class="nav navbar-left">-->
<!--                <li><a href="/#">Players</a></li>-->
<!--                <li><a href="/#">International</a></li>-->
<!--                <li><a href="/#">Players on Loan</a></li>-->
<!--                <li><a href="/#">Extended Leave</a></li>-->
<!--                <li><a href="/#">Team Meeting</a></li>-->
<!--            </ul>-->
<!--            <ul class="nav navbar-right" style="margin-right: 0">-->
<!--                <li class="item-user"><a href=""><i class="fas fa-user-friends"></i></a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
    <br/>
    <div class="content">
        <table class="squad-table">
            <tr>
                <th style="width: 50px">
                    Inf
                </th>
                <th>
                    Name
                </th>
                <th>
                    Position
                </th>
                <th>
                    Nat
                </th>
                <th>
                    Ability
                </th>
                <th>
                    Potential
                </th>
                <th>
                    Morale
                </th>
                <th>
                    Conditions
                </th>
                <th>
                    Played
                </th>
                <th>
                    Value
                </th>
            </tr>
            <tr *ngFor="let player of team.players">
                <td style="width: 50px">
                    <div class="status-badge injured" *ngIf="player.injured">
                    </div>
                    <!-- <div class="status-badge wanted">
                    </div> -->
                </td>
                <td style="min-width: 200px;">
                    <div class="player-info-logo">
                    </div>
                    <a [routerLink]="['/teams/' + team.slug + '/players/' + player.id]">
                        {{ player.last_name }}&nbsp;{{ player.first_name }}
                    </a>
                </td>
                <td style="width: 80px">
                    {{ player.position }}
                </td>
                <td style="width: 50px">
                    <a [routerLink]="['/countries/' + player.country_slug]" class="sub-title-link">
                        <div class="flag flag-{{player.country_code}}" title="{{ player.country_name }}"></div>
                    </a>
                </td>
                <td style="width: 150px">
                    <fieldset class="rating">
                        <label *ngFor="let _ of createRange(5 - player.current_ability)"></label>
                        <label *ngFor="let _ of createRange(player.current_ability)" class="checked"></label>
                    </fieldset>
                </td>
                <td style="width: 150px">
                    <fieldset class="rating">
                        <label *ngFor="let _ of createRange(5 - player.potential_ability)"></label>
                        <label *ngFor="let _ of createRange(player.potential_ability)" class="checked"></label>
                    </fieldset>
                </td>
                <td style="width: 150px">
                    {{ player.behaviour}}
                </td>
                <td style="width: 100px;text-align: center">
                    {{ player.conditions }}%
                </td>
                <td style="width: 70px">
                    25
                </td>
                <td style="width: 170px">
                    {{player.value}}
                </td>
            </tr>
        </table>
        <div style="clear:both"></div>
    </div>
</div>
