<ul class="nav navbar-right">
    <li class="item-msg" (click)="process()">
        <div id="process-game-btn" *ngIf="!isProcessing">Process</div>
        <div class="spinner-wrapper" *ngIf="isProcessing">
            <div class="spinner" id="process-game-btn-spinner"></div>
        </div>
    </li>
    <li class="item-date">
        <div class="date-title" id="date-up"></div>
        <div class="date-body" id="date-down"></div>
    </li>
    <li>
        <div class="btn-group btn-drop btn-globe">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="/#" aria-expanded="false">
                <i class="fas fa-globe-americas"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/#">Item 1</a></li>
                <li><a href="/#">Item 2</a></li>
                <li><a href="/#">Item 3</a></li>
                <li><a href="/#">Item 4</a></li>
            </ul>
        </div>
    </li>
    <li><a href="/#" class="link-search"><i class="fas fa-search"></i></a></li>
</ul>