$color_1: #fff;

.country-content {
  padding: 40px 40px;
}
ul.countries-list {
  li {
    a {
      font-size: 20px;
      color: $color_1;
    }
  }
}
.countries-list {
  li {
    float: left;
    list-style: none;
    margin-right: 20px;
  }
}
