<!-- <div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <left-menu></left-menu>
  </div>
</div>
<div class="header_row">
  <div class="header_top">
    <div class="col-md-6">
      <ul class="nav navbar-left nav-arrow">
        <li><a href="/#" class="active"><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/#"><i class="fas fa-angle-right"></i></a></li>
      </ul>
      <ul class="nav nav-gerb">
        <li><a href="/#"><i class="fas fa-angle-up"></i></a></li>
        <li><a href="/#"><i class="fas fa-angle-down"></i></a></li>
      </ul>
      <div class="header-title-block">
        <div class="page-title">Schedule</div>
        <div>2nd in Premier Division - Next Match: Leicester (A)(Tomorrow 17:30)</div>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="nav navbar-right">
        <li class="item-msg">
          <div>Must Respond <i class="fas fa-exclamation-circle"></i></div>
        </li>
        <li class="item-date">
          <div class="date-title">5 Oct 2018</div>
          <div class="date-body">Fri 12:15</div>
        </li>
        <li class="item-fm">
          <div class="btn-group btn-drop btn-fm">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="/#" aria-expanded="false">
              FM
              <i class="fas fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/#">Item 1</a></li>
              <li><a href="/#">Item 2</a></li>
              <li><a href="/#">Item 3</a></li>
              <li><a href="/#">Item 4</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="btn-group btn-drop btn-globe">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="/#" aria-expanded="false">
              <i class="fas fa-globe-americas"></i>
              <i class="fas fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/#">Item 1</a></li>
              <li><a href="/#">Item 2</a></li>
              <li><a href="/#">Item 3</a></li>
              <li><a href="/#">Item 4</a></li>
            </ul>
          </div>
        </li>
        <li><a href="/#" class="link-search"><i class="fas fa-search"></i></a></li>
      </ul>
    </div>
  </div>  
</div> -->
<hr style="margin:0;padding:0"/>
<div class="right_col">
  <div class="main_content">
    <router-outlet></router-outlet>
  </div>
</div>