<div class="header_row" style="height: 55px;margin-left: 0">
  <div class="header_bottom">
    <ul class="nav navbar-left">
      <li><a href="/#">Calendar</a></li>
      <li><a href="/#">Events</a></li>
      <li><a href="/#">Reminders</a></li>
      <li><a href="/#">Senior Matches</a></li>
      <li><a href="/#">U23 Matches</a></li>
      <li><a href="/#">U18 Matches</a></li>
    </ul>
    <ul class="nav navbar-right" style="margin-right: 0">
      <li class="item-user"><a href=""><i class="fas fa-user-friends"></i></a></li>
    </ul>
  </div>
</div>
<br />
<div *ngIf="league">
  <div>
      <table>
        <tr>
            <th style="width: 50px">
              №
            </th>
            <th style="width: 200px">
              Name
            </th>
            <th style="width: 50px">
              PLD
            </th>
            <th style="width: 50px">
              WON
            </th>
            <th style="width: 50px">
              DRN
            </th>
            <th style="width: 50px">
              LST
            </th>
            <th style="width: 50px">
              GS
            </th>
            <th style="width: 50px">
              GC
            </th>
            <th style="width: 50px">
              PTS
            </th>
        </tr>
        <tr *ngFor="let table of league.table.rows;let i = index">
            <td>
                {{ i + 1 }}
            </td>
            <td>
              {{ table.club_name }}
            </td>
            <td>
              {{ table.played }}
            </td>
            <td>
              {{ table.win }}
            </td>
            <td>
              {{ table.draft }}
            </td>
            <td>
              {{ table.lost }}
            </td>
            <td>
              {{ table.goal_scored }}
            </td>
            <td>
              {{ table.goal_concerned }}
            </td>
            <td>
              {{ table.points }}
            </td>
        </tr>
      </table>
  </div>
</div>