<div>
  <div class="content-header row">
    <ul class="nav navbar-left">
      <li>Matches</li>
      <li>
        <div class="btn-group btn-drop btn-match">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="/#">
            <i class="fas fa-eye"></i> Matches
            <i class="fas fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/#">Champions Cup</a></li>
            <li><a href="/#">Premier Division</a></li>
            <li><a href="/#">EFL Cup</a></li>
          </ul>
        </div>
      </li>
    </ul>
    
  </div>
  <div class="content_body row">
    <table class="main-table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Date</th>
          <th>Time</th>
          <th>Opposition</th>
          <th class="text-center">TV</th>
          <th class="text-center">Venue</th>
          <th class="text-center">&nbsp;</th>
          <th class="text-center">Result</th>
          <th>Competition</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-right"><i class="fas fa-check-circle"></i></td>
          <td>Wed, 9/13/2017</td>
          <td>19:45</td>
          <td>Dortmund</td>
          <td class="text-center"><i class="fas fa-tv"></i></td>
          <td class="text-center">A</td>
          <td class="text-center"><i class="fas fa-circle"></i></td>
          <td class="text-center">4 - 1</td>
          <td>Champions Cup Group F</td>
        </tr>
        <tr>
          <td class="text-right"><i class="fas fa-check-circle"></i></td>
          <td>Sat, 9/16/2017</td>
          <td>15:00</td>
          <td>Brighton</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center">A</td>
          <td class="text-center"><i class="fas fa-circle"></i></td>
          <td class="text-center">3 - 0</td>
          <td>Premier Division</td>
        </tr>
        <tr>
          <td class="text-right"><i class="fas fa-check-circle"></i></td>
          <td>Wed, 9/20/2017</td>
          <td>19:45</td>
          <td>Barnsley</td>
          <td class="text-center"><i class="fas fa-tv"></i></td>
          <td class="text-center">A</td>
          <td class="text-center"><i class="fas fa-adjust"></i></td>
          <td class="text-center">1 - 0</td>
          <td>EFL Cup Third Round</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>