
.country-list-content {
  padding: 50px 40px;

  h2 {
    font-size: 20px;
  }
}

.country-box {
  padding: 10px;
  margin-bottom: 20px;
}

ul.countries-list {
  margin-bottom: 50px;
  clear: both;

  li {
    float: left;
    list-style: none;
    margin-right: 20px;

    a {
      font-size: 20px;
      color: #fff;
    }
  }
}
