{% extends "../../layouts/layout_game.html" %}

{% block pagetitle %}
Countries
{% endblock %}

{% block header %}

<div style="float:left;">
    <div class="header-title-block">
        <div class="page-title">Select country</div>
        <div>Select any country to inspect it all</div>
    </div>
</div>

{% endblock %}

{% block leftmenu %}
<div class="left_col scroll-view">
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav">
                <li><a><i class="fa fa-home"></i>Home</a></li>
            </ul>
        </div>        
    </div>
</div>
{% endblock %}

{% block game_content %}
<div class="content">
    {% for continent in continents %}

        <div class="country-box">
            <h2>{{continent.name}} ({{continent.countries.len()}})</h2>
            <hr />           
            <div>
                <ul class="countries-list">
                    {% for country in continent.countries %}
                                       
                    <li>                        
                        <a href="/countries/{{ country.id }}">
                            <div class="flag flag-{{country.code}}"></div>&nbsp;&nbsp; {{ country.name }}
                        </a>
                    </li>

                    {% endfor %}
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>
    
    {% endfor %}    
</div>

{% endblock %}
