.content {
    padding: 0 0;
}

.header_row {
    height: 55px;
    margin-left: 0
}

.list-group-item{
  color: #fff;
  border: none;
}

.squad-list {
  margin-top: 20px;
  font-size: 14px;

  a {
    color: #fff;
  }

  &.squad-list-left {
    text-align: right;
  }
}
