@media (min-width: 992px) {
  .navbar,
  .navbar-collapse {
    flex-direction: column;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }
  .navbar {
    width: 100%;
    height: 100vh;
    align-items: flex-start;
  }
}

.navbar {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #283238 !important;
  margin:0;
  padding:0;
}

.navbar .nav-link {
  color: #fff;
  font-size: 18px;
}

.navbar-nav {
  border-bottom: 2px solid #2e383e;
}

