@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner { position: relative; }

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 80%;
    border-top: 2px solid #2b73ad;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}