{% extends "layouts/layout_game.html" %}

{% block pagetitle %}
{{name}}
{% endblock %}

{% block header %}

<div style="float:left;">
    <div class="flag flag-{{code}}" style="margin-top: 14px;">
    </div>
</div>
<div style="float:left;">
    <div class="header-title-block">
        <div class="page-title">{{name}}</div>
        <div>
            <a href="/countries" class="sub-title-link">
                {{ continent_name }}
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block leftmenu %}
<div class="left_col scroll-view">
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav">
                <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            </ul>
        </div>       
    </div>
</div>
{% endblock %}

{% block game_content %}
<div class="content">
    <div>
        <ul class="countries-list">
            {% for league in leagues %}
            <li>
                <a href="/leagues/{{league.id}}">
                    {{ league.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>    
    <div style="clear:both"></div>
</div>

{% endblock %}
