{% extends "../../layouts/layout_game.html" %}

{% block pagetitle %}
Title
{% endblock %}

{% block header %}

<script src="/js/graphics"></script>

<div style="float:left;">
    <div class="club-logo club-default-logo" style="margin-top: 9px;padding: 27px;"></div>
</div>
<div style="float:left;">
    <div class="header-title-block">
        <div>
        </div>
    </div>
</div>

{% endblock %}

{% block leftmenu %}
<div class="left_col scroll-view">
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav">
                <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
                <li><a><i class="fas fa-inbox"></i>Inbox</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
                <li><a href="/teams/schedule"><i class="fas fa-user-friends"></i>Schedule</a></li>
                <li><a href="/#"><i class="far fa-calendar-alt"></i>Calendar</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block game_content %}

<br/>
<div class="content">
    <div class="graphics-js" style="width: 100%;height: 100%">
    </div>
</div>


<script>
    let current_time = 0;
    let matchData = {};

    const leagueId = '{{ league_id }}';
    const matchId = '{{ match_id }}';

    const params = {
        fullscreen: false
    };

    // 565 - 385
    // 565 / 4 = 150
    // 385 / 4 = 100
    const pole_coord = {
        tl: {
            x: 38,
            y: 38
        },
        tr: {
            x: 603,
            y: 38
        },
        bl: {
            x: 38,
            y: 422
        },
        br: {
            x: 603,
            y: 422
        }
    };

    const elem = document.body.getElementsByClassName('graphics-js')[0];

    const two = new Two(params).appendTo(elem);
    const group = two.makeGroup();

    group.add(createPole());
    group.add(createBall());

    loadDetails();

    two.bind('update', update);

    function update(frameCount) {
        if (frameCount % 60 === 0) {
            current_time++;
            
            for(let playerKey in Object.keys(matchData)) {
                let playerData = matchData[playerKey];
         
                while(playerData.data[playerData.currentCoordIdx].timestamp < current_time) {
                    playerData.currentCoordIdx++;
                }

                let actualPlayerData = playerData.data[playerData.currentCoordIdx].coord;
                
                playerData.playerObject.position.set(actualPlayerData.x, actualPlayerData.y);
            }            
        }
    }

    function createPole() {
        const poleShape = two.makeRectangle(320, 230, 630, 450);
        poleShape.fill = new Two.Texture('/images/pole');
        poleShape.noStroke();

        return poleShape;
    }

    function createBall() {
        let center_x = pole_coord.tl.x + ((pole_coord.tr.x - pole_coord.tl.x) / 2);
        let center_y = pole_coord.tl.y + ((pole_coord.bl.y - pole_coord.tl.y) / 2);

        const ball = two.makeCircle(center_x, center_y, 7);
        ball.noStroke();

        ball.fill = new Two.Texture('/images/ball');

        return ball;
    }

    function loadDetails() {
        const url = `/match/${leagueId}/${matchId}/details`;

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        }).then(response => response.json())
            .then(responseJson => {
                try{
                    const player_position_data = responseJson.position_data;
                    for(let playerKey in Object.keys(player_position_data)) {
                        let playerData = player_position_data[playerKey];

                        let initial_player_data = playerData[0];

                        let playerCoord = translateXY(initial_player_data[1], initial_player_data[2]);

                        const player_circle = two.makeCircle(playerCoord.x, playerCoord.y, 4);
                        player_circle.fill = '#289b7c';

                        group.add(player_circle);

                        const playerFullData  = {
                            playerObject: player_circle,
                            currentCoordIdx: 0,
                            data: []
                        };

                        for(let pi = 0;pi < playerData.length;pi++) {
                            let playerRawData = playerData[pi];

                            let timestamp = playerRawData[0];

                            let playerCoord = translateXY(playerRawData[1], playerRawData[2]);

                            playerFullData.data.push({
                                timestamp: timestamp,
                                coord: playerCoord
                            });
                        }

                        matchData[playerKey] = playerFullData;
                    }

                    
                } catch (e)
                {

                }
                
                two.play();
            })

            .catch(error => console.log('Error resulting from json(): ' + error))
    }

    function translateXY(x, y) {
        let scaleX = 565 / 150;
        let scaleY = 388 / 100;
        
        return {
            x: pole_coord.tl.x + x * scaleX,
            y: pole_coord.tl.y + y * scaleY
        }
    }
</script>

{% endblock %}
