{% extends "../../layouts/layout_game.html" %}

{% block pagetitle %}
Title
{% endblock %}

{% block header %}

<script src="/js/graphics"></script>

<div style="float:left;">
    <div class="club-logo club-default-logo" style="margin-top: 9px;padding: 27px;"></div>
</div>
<div style="float:left;">
    <div class="header-title-block">
        <div>
        </div>
    </div>
</div>

{% endblock %}

{% block leftmenu %}
<div class="left_col scroll-view">
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav">
                <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
                <li><a><i class="fas fa-inbox"></i>Inbox</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
                <li><a href="/teams/schedule"><i class="fas fa-user-friends"></i>Schedule</a></li>
                <li><a href="/#"><i class="far fa-calendar-alt"></i>Calendar</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block game_content %}

<br/>
<div class="content">
    <div class="graphics-js" style="width: 100%;height: 100%">
    </div>
</div>


<script>
    const params = {
        fullscreen: false
    };

    const elem = document.body.getElementsByClassName('graphics-js')[0];

    const two = new Two(params).appendTo(elem);

    
    //Texture from png
    const texture = new Two.Texture('/images/pole', function () {
        const shape = two.makeRectangle(0, 0,texture.image.width , texture.image.height);
        
        shape.fill = texture;        
    });   
    
    texture.repeat = 'no-repeat';
    
    const circle = two.makeCircle(-70, 0, 50);
    circle.fill = '#FF8000';

    two.renderer.setSize(800, 500);
    
    two.bind('update', update);
    two.play()

    function update(frameCount) {      
        // if (group.scale > 0.9999) {
        //     group.scale = group.rotation = 0;
        // }
        // const t = (1 - group.scale) * 0.125;
        // group.scale += t;
        // group.rotation += t * 4 * Math.PI;
    }

</script>

{% endblock %}
