{% extends "../../layouts/layout_game.html" %}

{% block pagetitle %}
Title
{% endblock %}

{% block header %}

<script src="/js/graphics"></script>

<div style="float:left;">
    <div class="club-logo club-default-logo" style="margin-top: 9px;padding: 27px;"></div>
</div>
<div style="float:left;">
    <div class="header-title-block">
        <div>
        </div>
    </div>
</div>

{% endblock %}

{% block leftmenu %}
<div class="left_col scroll-view">
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav">
                <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
                <li><a><i class="fas fa-inbox"></i>Inbox</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav">
                <li><a href="/teams/schedule"><i class="fas fa-user-friends"></i>Schedule</a></li>
                <li><a href="/#"><i class="far fa-calendar-alt"></i>Calendar</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block game_content %}

<br/>
<div class="content">
    <div class="graphics-js" style="width: 100%;height: 100%">
    </div>
</div>


<script>
    let matchData = {};

    const leagueId = '{{ league_id }}';
    const matchId = '{{ match_id }}';

    const params = {
        fullscreen: false
    };

    // 565 - 385
    // 565 / 4 = 150
    // 385 / 4 = 100
    const pole_coord = {
        tl: {
            x: 38,
            y: 38
        },
        tr: {
            x: 603,
            y: 38
        },
        bl: {
            x: 38,
            y: 422
        },
        br: {
            x: 603,
            y: 422
        }
    };

    const elem = document.body.getElementsByClassName('graphics-js')[0];

    const two = new Two(params).appendTo(elem);
    const group = two.makeGroup();

    group.add(createPole());
    group.add(createBall());

    //group.add(poleShape);
    //group.add(ball);

    // const texture = new Two.Texture('/images/pole', function () {
    //     const shape = two.makeRectangle(320, 230, 630 , 450);
    //
    //     shape.fill = texture;
    //
    //     group.add(shape);
    //
    //     const circle = two.makeCircle(603, 38, 4);
    //     circle.fill = '#289b7c';
    //
    //     const circle2 = two.makeCircle(38, 38, 4);
    //     circle2.fill = '#289b7c';
    //
    //     const circle3 = two.makeCircle(603, 422, 4);
    //     circle3.fill = '#289b7c';
    //
    //     const circle4 = two.makeCircle(38, 422, 4);
    //     circle4.fill = '#289b7c';
    //
    //     group.add(circle);
    //     group.add(circle2);
    //     group.add(circle3);
    //     group.add(circle4);
    // });

    loadDetails();

    two.bind('update', update);


    function update(frameCount) {

        // if (frameCount % 360 === 0) {
        //     circle.x += 1;
        //     circle.y += 1;
        //
        //     if(circle.x > 500) {
        //         circle.x = 0;
        //     }
        //
        //     if (circle.y > 500) {
        //         circle.y = 0;
        //     }
        // }

    }

    function createPole() {
        const poleShape = two.makeRectangle(320, 230, 630, 450);
        poleShape.fill = new Two.Texture('/images/pole');
        poleShape.noStroke();

        return poleShape;
    }

    function createBall() {
        let center_x = pole_coord.tl.x + ((pole_coord.tr.x - pole_coord.tl.x) / 2);
        let center_y = pole_coord.tl.y + ((pole_coord.bl.y - pole_coord.tl.y) / 2);

        const ball = two.makeCircle(center_x, center_y, 7);
        ball.noStroke();

        ball.fill = new Two.Texture('/images/ball');

        return ball;
    }

    function loadDetails() {
        const url = `/match/${leagueId}/${matchId}/details`;

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        }).then(response => response.json())
            .then(responseJson => {
                
                let player_data = responseJson.players_data;

                for (i = 0; i < player_data.length; i++) {
                    let player = player_data[i];

                    let new_coord = translateXY(player.x, player.y);
                
                    const playerModel = two.makeCircle(new_coord.x, new_coord.y, 4);
                    playerModel.fill = '#289b7c';
                    group.add(playerModel);
                }

                two.play();
            })

            .catch(error => console.log('Error resulting from json(): ' + error))
    }

    function translateXY(x, y) {
        let scaleX = 630 / 150;
        let scaleY = 450 / 100;
        
        return {
            x: (pole_coord.tl.x + x) * scaleX,
            y: (pole_coord.tl.y + y) * scaleY
        }
    }
</script>

{% endblock %}
